* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#results {
    margin-top: 15px;
}

#train {
    max-width: 400px;
}
.biglietto {
    display: flex;
    align-items: center;
    gap: 10px;
}